.About{
    margin-top: 400px;
    margin-bottom: 160px;
    padding-left: 180px;
    display: flex;
}

.About .line-left{
    position: absolute;
    background-color: #262728;
    margin-left: -160px;
    margin-top: 45px;
    width: 10vw;
    height: 2px;
}

.About .dot-outer{
    position: absolute;
    margin-left: -193px;
    margin-top: 31px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}



.About .left{
    width: 400px;
}

.About .left .desc{

    font-size: 1vw;
}

.About .left .title{
    border-bottom: 3px solid;
    font-size: 2.1vw;
}

.About .right{
    width: 20vw;
}

.About .right img{
    padding-left: 70px;
    padding-top: 50px;
    width: 20vw;
}

@media screen and (min-width: 1682px) {
    .About .right img{

        width: 300px;
    }

    .About .left .desc{
        font-size: 17px;
    }
    
    .About .left .title{
        border-bottom: 3px solid;
        font-size: 31px;
    }

    
    .About .line-left{
        width: 150px;

    }


}

@media screen and (min-width: 765px) {
   
}