.FloatingButton{
    width: 35px;
    height: 100px;
    margin-left: 80px;
    margin-top: 20vmax;
    position: fixed;
    
    
}

.FloatingButton .small-line{
    width: 3px;
    height: 100px;
    margin-left: 15px;

}

.FloatingButton .margin{
    margin-bottom: 10px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}


.FloatingButton .margin:hover {
    transform: translate(-10px, 0px);

}



