
.App .content{
    margin-left: 200px;
    margin-right: 200px;
}

.App .barcode{
    position: fixed;
    margin-right: 0;
    margin-left: 88vmax;
    margin-top: 30vmax;
    
}

.App #myCanvas{
    position: absolute;
}

